<h3 mat-dialog-title align="center" color="accent">
    Create a Todo
</h3>

<form [formGroup]="createTodoForm" (ngSubmit)="onSubmit(createTodoForm.value)">
    <mat-dialog-content>
        <mat-form-field class="full-width">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name">
        </mat-form-field>
        <br>
        <mat-form-field class="full-width">
            <mat-label>Description</mat-label>
            <textarea matInput placeholder="Details about your todo..." formControlName="description"></textarea>
        </mat-form-field>
        <br>
        <mat-form-field class="full-width">
            <mat-label>Due Date</mat-label>
            <input matInput [min]="minDate" [max]="maxDate" placeholder="MM/DD/YYYY" [matDatepicker]="picker" formControlName="dueDate">
            <mat-datepicker-toggle matSuffix [for]="picker" disabled="false"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <br>
    </mat-dialog-content>
    <mat-dialog-actions align="center">
        <button mat-raised-button [mat-dialog-close]="true" [disabled]="!createTodoForm.valid" color="primary" type="submit">Create</button>
    </mat-dialog-actions>
</form>